body
{
	text-align:center
}

h1,h2,h3,h4,h5,h6
{
	font-family:'Montserrat',sans-serif
}

h3
{
	padding-top:2rem
}

p
{
	font-size:20px;
	font-family:'Ubuntu';
	color:grey
}

hr
{
	background-color:#00bfff
}

button:focus
{
	outline:0
}

.container-fluid
{
	padding:7% 15%
}

.button
{
	display:inline-block;
	border-radius:8px;
	background-color:#ff3232;
	border:0;
	outline:0;
	color:#fff;
	text-align:center;
	font-size:16px;
	padding:12px;
	transition:all .5s;
	cursor:pointer
}

.button span
{
	cursor:pointer;
	display:inline-block;
	position:relative;
	transition:.5s
}

.button span:after
{
	content:'\00bb';
	position:absolute;
	opacity:0;
	top:0;
	right:-10px;
	transition:.5s
}

.button:hover span
{
	padding-right:25px;
	color:white
}

.button:hover span:after
{
	opacity:1;
	right:0
}

.navbar
{
	padding:15px;
	font-size:1.5rem;
	background:#00bfff
}

.navbar-brand
{
	font-size:2.5rem;
	font-family:'Ubuntu';
	font-weight:bold;
	color:white
}

.custom-toggler .navbar-toggler-icon
{
	border-color:white;
	background-color:white;
	border-radius:10%;
	width:50px;
	height:50px
}

.custom-toggler .navbar-toggler-icon
{
	background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,191,500)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.nav-link
{
	font-family:'Ubuntu';
	font-size:1.2rem;
	color:white
}

.nav-item
{
	padding:0 18px
}

#title .container-fluid
{
	text-align:left
}

blockquote
{
	background:white;
	margin:10px;
	padding:10px 20px
}

blockquote small
{
	display:block;
	font-size:25px;
	color:brown;
	text-align:right
}

.title-image
{
	width:85%;
	position:absolute;
	margin-top:5%;
	margin-left:35px
}

@media(max-width:1028px)
{
	#title{text-align:center}.title-image
	{
		position:static;
		transform:rotate(0)
	}
}

#testimonials
{
	background-color:#f1f1f1
}

.carousel-indicators li
{
	background-color:#00f
}

.carousel-inner .container-fluid
{
	padding:3% 7%
}

.testimonial-img
{
	width:40%;
	border-radius:5%;
	margin:15px
}

.description-section
{
	background:#f3e2c9
}

.mycontent-left
{
	border-right:2px solid #333;
	padding-right:20px
}

.mycontent-left,.mycontent-right
{
	overflow:hidden
}

@media screen and (max-width:992px)
{
	.mycontent-left
	{
		border-right:0;
		border-bottom:2px solid #333;
		padding-bottom:30px
	}
	
	.mycontent-right
	{
		margin-top:30px
	}
	
	.pm,.cm
	{
		margin-left:100px
	}
	
	.donate-footer
	{
		position:fixed;
		width:100%
	}
	
	#state-govt .col-lg-4
	{
		width:60%;
		margin-left:140px
	}
	
	#list
	{
		width:92%
	}
}

#features
{
	position:relative;
	z-index:1;
	background:white;
	padding:-2%
}

#features .container-fluid
{
	padding:5% 15%
}

.feature-title
{
	font-size:1.5rem
}

.feature-box
{
	padding:4.5%;
	align-content:center
}

#features .card
{
	border-radius:5%;
	width:70%;
	height:220px;
	margin-left:80px;
	border:2px solid #00bfff;
	background-color:#00bfff
}

#features .card .button
{
	margin-top:12px
}

#features .card img
{
	margin-top:10px
}

#aboutus
{
	padding:100px;
	background:#f3e6e3
}

.about
{
	flex-wrap:center;
	align-content:center
}

.about-content
{
	font-size:30px;
	font-family:'Ubuntu';
	color:#000
}

.footer-section
{
	background:black;
	bottom:0
}

.formdonate,.contact-form
{
	left:0;
	right:0;
	padding-top:50px;
	padding-bottom:100px
}

.formdonate .button
{
	width:100%
}

#state-govt .card
{
	border-radius:5%;
	width:120%;
	height:250px;
	margin-left:-25px;
	border:2px solid #00bfff;
	background-color:#00bfff
}

#state-govt .card .button
{
	margin-top:30px
}

#state-govt .card img
{
	margin-top:10px
}

#search-bar
{
	margin-bottom:-150px
}

#list
{
	display:none;
	list-style:none;
	position:absolute;
	background:white;
	margin-left:-47%;
	border-top:0;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	z-index:10;
	width:94%;
	border:1px solid #e0e0e0
}

#list a
{
	text-decoration:none;
	color:gray;
	font-size:1.5rem
}

.logo
{
	font-size:2.5rem;
	font-family:'Ubuntu';
	font-weight:bold;
	color:#00bfff;
	padding-top:0rem
}
